
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --dark:#272D3B;
    --red:#ED176F;
    --coral:#F7817F;
    --gradient:linear-gradient(90deg, #3f5ee8, rgb(84, 158, 231));
    --blue:#19A7CE;
    --white:#F6F1F1;
    --blue_light:#AFD3E2;
}

*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline: none; 
    list-style: none;
}

*::selection{
    background:var(--blue);
    color:#fff;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    font-family: 'Nunito', sans-serif;
}

.container{
    padding: 0 9%;
}

.btn{
    cursor: pointer;
    padding:.7rem 3rem;
    display: inline-block;
    border-radius: 5rem;
    color:var(--white);
    font-weight: bold;
    background:var(--gradient);
    font-size: 1.4rem;
    margin-top: 1rem;
}

.btn:hover{
    transform: scale(1.1);
}


/* HEADER */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--blue);
    z-index: 1000;
    border-bottom: .1rem solid #12479b;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.3rem 7%;
}

.header .logo{
    font-weight: bold;
    color: var(--white);
    font-size: 1.5rem;
}
.header .navbar {
    display: flex;
    gap: .5rem;
    justify-content: space-evenly;
    
}
.header .navbar a{
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--white);
    padding: .2rem 1rem;
}
.header .navbar a:hover{
    color: #1C6DD0;
}
#menu-bar{
    font-size: 1.3rem;
    color: var(--white);
    cursor: pointer;
    display: none;
}
/* HOME */
.home{
    background: url("/images/home-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.home__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 3rem 0 3rem;
    width: 100%;
    
}
.home__content h3{
    font-size: 5rem;
    color: var(--blue);
}
.home__content p{
    font-size: 1.4rem;
    color: var(--white);
    padding: 1rem 0;
}
    /* swiper */
.home__swiper{
    width: 100%;
    padding: 5rem 0;
}
.home__swiper .swiper-slide{
    width: 25rem;
    height: 37rem;
}
.home__swiper .swiper-slide img{
    border-radius: 2rem;
    display: block;
    width: 100%;
    height: 100%;
}
/* FEATURES */
.heading{
    text-align: center;
    color: transparent;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.4rem;
    text-transform: uppercase;
    padding: 1rem;
}
.features .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.features .box-container .box{
    margin: 1rem;
    border-radius: .3rem;
    text-align: center;
    background: rgba(28, 59, 200, 0.067);
    cursor: pointer;
    flex: 1 1 24rem;
}
.features .box-container .box i{
    color: var(--dark);
    font-size: 4rem;
    padding: .7rem;
}
.features .box-container .box h3{
    color: var(--blue);
    font-size: 2.2rem;
}
.features .box-container .box p{
    color: rgb(37, 39, 44);
    font-size: 1.2rem;
    padding: .7rem;
}
.features .box-container .box:hover{
    background: var(--gradient);
}
.features .box-container .box:hover > *{
    color: var(--white);
}

/* ABOUT */
/* CONTACT */
/* FOOTER */


/* MEDIA QUERIES */
@media (max-width: 991px){

    /* mq header */
    html{
        font-size: 80%;
    }
    .header{
        padding: 1rem 4%;
    }
    .footer{
        color: #272D3B;
    }
    /* home */
    .home{
        padding: 0 .5rem;
        max-width: 100vw;
    }
}
@media (max-width: 768px){

    /* general */
    .heading{
        font-size: 2.6rem;
    }
    /* mq header   */
    .header{
        color: #272D3B;
    }
    #menu-bar{
        display: block;
    }
    .fas.fa-bars{
        transition: rotate .5s ease;
    }
    .fas.fa-times.fa-bars{
        rotate: 90deg;
        transition: rotate .5s;
    }
    .header .navbar{
        background: var(--blue);
        border-top: .1rem solid #1C6DD0;

        flex-direction: column;
        padding: 1rem 0;
        gap: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        clip-path: polygon(0 0%,100% 0, 100% 0 ,0 0); /*-----RESPONSIVE DESIGN NAVBAR-----*/
        transition: clip-path .5s;
    }
    .header .navbar.nav-toggle{
        clip-path: polygon(0 0, 100% 0, 100% 100%  ,0 100%);
    }
    .header .navbar a{
        background: #AFD3E2;
        padding: 1rem;
        text-align: center;
        margin: 0 1rem;
        border-radius: 1rem;
        color: var(--dark);
    }
    .header .navbar a:hover{
        background: #146C94;
        color: var(--white)
    }
    /* home */
    .home__content h3{
        font-size: 3rem;
    }
    .home__content p{
        font-size: 1.2rem;
    }
}
@media (max-width: 400px){
    html{
        font-size: 50%;
    }
    .header .navbar{
        gap: 1.2rem;
    }

    .heading{
        font-size: 2.5rem;
    }
}

/* MEDIA QUERIES ENDS*/